@font-face {
  font-family: 'office365icons';
  src: url('../fonts/office365icons.eot'); /* IE9 Compat Modes */
  src: url('../fonts/office365icons.ttf?') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'office365icons';
    src: url('../font/office365icons.svg?64541823#office365icons') format('svg');
  }
}
*/

[class^="ms-Icon--"]:before, [class*=" ms-Icon--"]:before {
  font-family: "office365icons";
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  speak: none;
}

.ms-Icon--space:before { content: '\20'; } /* ' ' */
.ms-Icon--circleEmpty:before { content: '\e000'; } /* '' */
.ms-Icon--circleFill:before { content: '\e001'; } /* '' */
.ms-Icon--placeholder:before { content: '\e002'; } /* '' */
.ms-Icon--star:before { content: '\e003'; } /* '' */
.ms-Icon--plus:before { content: '\e004'; } /* '' */
.ms-Icon--minus:before { content: '\e005'; } /* '' */
.ms-Icon--question:before { content: '\e006'; } /* '' */
.ms-Icon--exclamation:before { content: '\e007'; } /* '' */
.ms-Icon--person:before { content: '\e008'; } /* '' */
.ms-Icon--mail:before { content: '\e009'; } /* '' */
.ms-Icon--infoCircle:before { content: '\e00a'; } /* '' */
.ms-Icon--alert:before { content: '\e00b'; } /* '' */
.ms-Icon--xCircle:before { content: '\e00c'; } /* '' */
.ms-Icon--mailOpen:before { content: '\e00d'; } /* '' */
.ms-Icon--people:before { content: '\e00e'; } /* '' */
.ms-Icon--bell:before { content: '\e010'; } /* '' */
.ms-Icon--calendar:before { content: '\e011'; } /* '' */
.ms-Icon--scheduling:before { content: '\e012'; } /* '' */
.ms-Icon--event:before { content: '\e013'; } /* '' */
.ms-Icon--folder:before { content: '\e014'; } /* '' */
.ms-Icon--documents:before { content: '\e015'; } /* '' */
.ms-Icon--onedrive:before { content: '\e016'; } /* '' */
.ms-Icon--chat:before { content: '\e017'; } /* '' */
.ms-Icon--sites:before { content: '\e018'; } /* '' */
.ms-Icon--listBullets:before { content: '\e019'; } /* '' */
.ms-Icon--calendarWeek:before { content: '\e01a'; } /* '' */
.ms-Icon--calendarWorkWeek:before { content: '\e01b'; } /* '' */
.ms-Icon--calendarDay:before { content: '\e01c'; } /* '' */
.ms-Icon--folderMove:before { content: '\e01d'; } /* '' */
.ms-Icon--panel:before { content: '\e01e'; } /* '' */
.ms-Icon--popout:before { content: '\e01f'; } /* '' */
.ms-Icon--menu:before { content: '\e020'; } /* '' */
.ms-Icon--home:before { content: '\e021'; } /* '' */
.ms-Icon--favorites:before { content: '\e022'; } /* '' */
.ms-Icon--phone:before { content: '\e023'; } /* '' */
.ms-Icon--mailSend:before { content: '\e024'; } /* '' */
.ms-Icon--save:before { content: '\e025'; } /* '' */
.ms-Icon--trash:before { content: '\e026'; } /* '' */
.ms-Icon--pencil:before { content: '\e027'; } /* '' */
.ms-Icon--flag:before { content: '\e028'; } /* '' */
.ms-Icon--reply:before { content: '\e029'; } /* '' */
.ms-Icon--miniatures:before { content: '\e02a'; } /* '' */
.ms-Icon--voicemail:before { content: '\e02b'; } /* '' */
.ms-Icon--play:before { content: '\e02c'; } /* '' */
.ms-Icon--pause:before { content: '\e02d'; } /* '' */
.ms-Icon--onlineAdd:before { content: '\e02e'; } /* '' */
.ms-Icon--onlineJoin:before { content: '\e02f'; } /* '' */
.ms-Icon--replyAll:before { content: '\e030'; } /* '' */
.ms-Icon--attachment:before { content: '\e031'; } /* '' */
.ms-Icon--drm:before { content: '\e032'; } /* '' */
.ms-Icon--pinDown:before { content: '\e033'; } /* '' */
.ms-Icon--refresh:before { content: '\e034'; } /* '' */
.ms-Icon--gear:before { content: '\e035'; } /* '' */
.ms-Icon--smiley:before { content: '\e036'; } /* '' */
.ms-Icon--info:before { content: '\e037'; } /* '' */
.ms-Icon--lock:before { content: '\e038'; } /* '' */
.ms-Icon--search:before { content: '\e039'; } /* '' */
.ms-Icon--questionReverse:before { content: '\e03a'; } /* '' */
.ms-Icon--notRecurring:before { content: '\e03b'; } /* '' */
.ms-Icon--tasks:before { content: '\e040'; } /* '' */
.ms-Icon--check:before { content: '\e041'; } /* '' */
.ms-Icon--x:before { content: '\e042'; } /* '' */
.ms-Icon--thumbDown:before { content: '\e043'; } /* '' */
.ms-Icon--thumbUp:before { content: '\e044'; } /* '' */
.ms-Icon--ellipsis:before { content: '\e045'; } /* '' */
.ms-Icon--dot:before { content: '\e046'; } /* '' */
.ms-Icon--arrowUp:before { content: '\e047'; } /* '' */
.ms-Icon--arrowDown:before { content: '\e048'; } /* '' */
.ms-Icon--arrowLeft:before { content: '\e049'; } /* '' */
.ms-Icon--arrowRight:before { content: '\e04a'; } /* '' */
.ms-Icon--download:before { content: '\e04b'; } /* '' */
.ms-Icon--directions:before { content: '\e04c'; } /* '' */
.ms-Icon--microphone:before { content: '\e04f'; } /* '' */
.ms-Icon--caretUp:before { content: '\e051'; } /* '' */
.ms-Icon--caretDown:before { content: '\e052'; } /* '' */
.ms-Icon--caretLeft:before { content: '\e053'; } /* '' */
.ms-Icon--caretRight:before { content: '\e054'; } /* '' */
.ms-Icon--officeThreshold:before { content: '\e055'; } /* '' */
.ms-Icon--office365:before { content: '\e056'; } /* '' */
.ms-Icon--office365Preview:before { content: '\e057'; } /* '' */
.ms-Icon--caretUpLeft:before { content: '\e05a'; } /* '' */
.ms-Icon--caretUpRight:before { content: '\e05b'; } /* '' */
.ms-Icon--caretDownRight:before { content: '\e05c'; } /* '' */
.ms-Icon--caretDownLeft:before { content: '\e05d'; } /* '' */
.ms-Icon--apps:before { content: '\e060'; } /* '' */
.ms-Icon--officeStore:before { content: '\e061'; } /* '' */
.ms-Icon--outlook:before { content: '\e062'; } /* '' */
.ms-Icon--project:before { content: '\e063'; } /* '' */
.ms-Icon--yammer:before { content: '\e064'; } /* '' */
.ms-Icon--dynamicsCrm:before { content: '\e065'; } /* '' */
.ms-Icon--lync:before { content: '\e066'; } /* '' */
.ms-Icon--note:before { content: '\e06a'; } /* '' */
.ms-Icon--noteReply:before { content: '\e06b'; } /* '' */
.ms-Icon--noteForward:before { content: '\e06c'; } /* '' */
.ms-Icon--key:before { content: '\e06f'; } /* '' */
.ms-Icon--tile:before { content: '\e070'; } /* '' */
.ms-Icon--taskRecurring:before { content: '\e071'; } /* '' */
.ms-Icon--sharepoint:before { content: '\e072'; } /* '' */
.ms-Icon--starEmpty:before { content: '\e073'; } /* '' */
.ms-Icon--upload:before { content: '\e076'; } /* '' */
.ms-Icon--wrench:before { content: '\e077'; } /* '' */
.ms-Icon--share:before { content: '\e078'; } /* '' */
.ms-Icon--documentReply:before { content: '\e079'; } /* '' */
.ms-Icon--documentForward:before { content: '\e07a'; } /* '' */
.ms-Icon--partner:before { content: '\e080'; } /* '' */
.ms-Icon--admin:before { content: '\e081'; } /* '' */
.ms-Icon--microsoft:before { content: '\e083'; } /* '' */
.ms-Icon--reactivate:before { content: '\e084'; } /* '' */
.ms-Icon--sort:before { content: '\e085'; } /* '' */
.ms-Icon--personAdd:before { content: '\e086'; } /* '' */
.ms-Icon--chevronUp:before { content: '\e087'; } /* '' */
.ms-Icon--chevronDown:before { content: '\e088'; } /* '' */
.ms-Icon--chevronLeft:before { content: '\e089'; } /* '' */
.ms-Icon--chevronRight:before { content: '\e08a'; } /* '' */
.ms-Icon--powerBi:before { content: '\e08b'; } /* '' */
.ms-Icon--peopleAdd:before { content: '\e08c'; } /* '' */
.ms-Icon--newsfeed:before { content: '\e08d'; } /* '' */
.ms-Icon--notebook:before { content: '\e08e'; } /* '' */
.ms-Icon--link:before { content: '\e08f'; } /* '' */
.ms-Icon--chevronsUp:before { content: '\e090'; } /* '' */
.ms-Icon--chevronsDown:before { content: '\e091'; } /* '' */
.ms-Icon--chevronsLeft:before { content: '\e092'; } /* '' */
.ms-Icon--chevronsRight:before { content: '\e093'; } /* '' */
.ms-Icon--clutter:before { content: '\e09a'; } /* '' */
.ms-Icon--subscribe:before { content: '\e09c'; } /* '' */
.ms-Icon--unsubscribe:before { content: '\e09d'; } /* '' */
.ms-Icon--personRemove:before { content: '\e09e'; } /* '' */
.ms-Icon--receiptForward:before { content: '\e0a0'; } /* '' */
.ms-Icon--receiptReply:before { content: '\e0a1'; } /* '' */
.ms-Icon--receiptCheck:before { content: '\e0a2'; } /* '' */
.ms-Icon--peopleRemove:before { content: '\e0a3'; } /* '' */
.ms-Icon--merge:before { content: '\e0a4'; } /* '' */
.ms-Icon--split:before { content: '\e0a5'; } /* '' */
.ms-Icon--eventCancel:before { content: '\e0a6'; } /* '' */
.ms-Icon--eventShare:before { content: '\e0a7'; } /* '' */
.ms-Icon--today:before { content: '\e0a9'; } /* '' */
.ms-Icon--oofReply:before { content: '\e0aa'; } /* '' */
.ms-Icon--voicemailReply:before { content: '\e0ac'; } /* '' */
.ms-Icon--voicemailForward:before { content: '\e0ad'; } /* '' */
.ms-Icon--ribbon:before { content: '\e0af'; } /* '' */
.ms-Icon--contact:before { content: '\e0b0'; } /* '' */
.ms-Icon--eye:before { content: '\e0b1'; } /* '' */
.ms-Icon--glasses:before { content: '\e0b2'; } /* '' */
.ms-Icon--gallatin:before { content: '\e0b3'; } /* '' */
.ms-Icon--access:before { content: '\e0b4'; } /* '' */
.ms-Icon--excel:before { content: '\e0b5'; } /* '' */
.ms-Icon--onenote:before { content: '\e0b7'; } /* '' */
.ms-Icon--powerpoint:before { content: '\e0b8'; } /* '' */
.ms-Icon--word:before { content: '\e0b9'; } /* '' */
.ms-Icon--print:before { content: '\e100'; } /* '' */
.ms-Icon--room:before { content: '\e101'; } /* '' */
.ms-Icon--post:before { content: '\e102'; } /* '' */
.ms-Icon--toggle:before { content: '\e103'; } /* '' */
.ms-Icon--touch:before { content: '\e104'; } /* '' */
.ms-Icon--clock:before { content: '\e105'; } /* '' */
.ms-Icon--fax:before { content: '\e106'; } /* '' */
.ms-Icon--lightning:before { content: '\e110'; } /* '' */
.ms-Icon--dialpad:before { content: '\e111'; } /* '' */
.ms-Icon--phoneTransfer:before { content: '\e112'; } /* '' */
.ms-Icon--phoneAdd:before { content: '\e113'; } /* '' */
.ms-Icon--late:before { content: '\e114'; } /* '' */
.ms-Icon--chatAdd:before { content: '\e115'; } /* '' */
.ms-Icon--conflict:before { content: '\e116'; } /* '' */
.ms-Icon--navigate:before { content: '\e117'; } /* '' */
.ms-Icon--delve:before { content: '\e118'; } /* '' */
.ms-Icon--camera:before { content: '\e119'; } /* '' */
.ms-Icon--filter:before { content: '\e11a'; } /* '' */
.ms-Icon--fullscreen:before { content: '\e11b'; } /* '' */
.ms-Icon--new:before { content: '\e11c'; } /* '' */
.ms-Icon--mailEmpty:before { content: '\e11d'; } /* '' */
.ms-Icon--editBox:before { content: '\e11e'; } /* '' */
.ms-Icon--waffle:before { content: '\e11f'; } /* '' */
.ms-Icon--work:before { content: '\e120'; } /* '' */
.ms-Icon--eventRecurring:before { content: '\e121'; } /* '' */
.ms-Icon--cart:before { content: '\e122'; } /* '' */
.ms-Icon--socialListening:before { content: '\e123'; } /* '' */
.ms-Icon--mapMarker:before { content: '\e124'; } /* '' */
.ms-Icon--org:before { content: '\e125'; } /* '' */
.ms-Icon--adminA:before { content: '\e130'; } /* '' */
.ms-Icon--adminC:before { content: '\e131'; } /* '' */
.ms-Icon--adminD:before { content: '\e132'; } /* '' */
.ms-Icon--adminE:before { content: '\e133'; } /* '' */
.ms-Icon--adminL:before { content: '\e134'; } /* '' */
.ms-Icon--adminM:before { content: '\e135'; } /* '' */
.ms-Icon--adminO:before { content: '\e136'; } /* '' */
.ms-Icon--adminP:before { content: '\e137'; } /* '' */
.ms-Icon--adminS:before { content: '\e138'; } /* '' */
.ms-Icon--adminY:before { content: '\e139'; } /* '' */
.ms-Icon--replyAlt:before { content: '\e150'; } /* '' */
.ms-Icon--replyAllAlt:before { content: '\e152'; } /* '' */
.ms-Icon--eventInfo:before { content: '\e154'; } /* '' */
.ms-Icon--group:before { content: '\e155'; } /* '' */
.ms-Icon--office:before { content: '\e160'; } /* '' */
.ms-Icon--money:before { content: '\e161'; } /* '' */
.ms-Icon--graph:before { content: '\e162'; } /* '' */
.ms-Icon--noteEdit:before { content: '\e163'; } /* '' */
.ms-Icon--dashboard:before { content: '\e164'; } /* '' */
.ms-Icon--mailEdit:before { content: '\e165'; } /* '' */
.ms-Icon--pinLeft:before { content: '\e167'; } /* '' */
.ms-Icon--onedriveAdd:before { content: '\e168'; } /* '' */
.ms-Icon--heart:before { content: '\e16a'; } /* '' */
.ms-Icon--heartEmpty:before { content: '\e16b'; } /* '' */
.ms-Icon--picture:before { content: '\e16c'; } /* '' */
.ms-Icon--cake:before { content: '\e16d'; } /* '' */
.ms-Icon--books:before { content: '\e16e'; } /* '' */
.ms-Icon--chart:before { content: '\e16f'; } /* '' */
.ms-Icon--video:before { content: '\e170'; } /* '' */
.ms-Icon--soccer:before { content: '\e171'; } /* '' */
.ms-Icon--meal:before { content: '\e172'; } /* '' */
.ms-Icon--balloon:before { content: '\e173'; } /* '' */
.ms-Icon--cat:before { content: '\e174'; } /* '' */
.ms-Icon--dog:before { content: '\e175'; } /* '' */
.ms-Icon--bag:before { content: '\e176'; } /* '' */
.ms-Icon--music:before { content: '\e177'; } /* '' */
.ms-Icon--stopwatch:before { content: '\e178'; } /* '' */
.ms-Icon--coffee:before { content: '\e179'; } /* '' */
.ms-Icon--briefcase:before { content: '\e17a'; } /* '' */
.ms-Icon--pill:before { content: '\e17b'; } /* '' */
.ms-Icon--trophy:before { content: '\e17c'; } /* '' */
.ms-Icon--firstAid:before { content: '\e17d'; } /* '' */
.ms-Icon--plane:before { content: '\e17e'; } /* '' */
.ms-Icon--page:before { content: '\e17f'; } /* '' */
.ms-Icon--car:before { content: '\e180'; } /* '' */
.ms-Icon--dogAlt:before { content: '\e181'; } /* '' */
.ms-Icon--document:before { content: '\e182'; } /* '' */
.ms-Icon--metadata:before { content: '\e183'; } /* '' */
.ms-Icon--pointItem:before { content: '\e184'; } /* '' */
.ms-Icon--text:before { content: '\e185'; } /* '' */
.ms-Icon--fieldText:before { content: '\e186'; } /* '' */
.ms-Icon--fieldNumber:before { content: '\e187'; } /* '' */
.ms-Icon--dropdown:before { content: '\e188'; } /* '' */
.ms-Icon--radioButton:before { content: '\e189'; } /* '' */
.ms-Icon--checkbox:before { content: '\e18a'; } /* '' */
.ms-Icon--story:before { content: '\e18b'; } /* '' */
.ms-Icon--bold:before { content: '\e18c'; } /* '' */
.ms-Icon--italic:before { content: '\e18d'; } /* '' */
.ms-Icon--underline:before { content: '\e18e'; } /* '' */
.ms-Icon--quote:before { content: '\e18f'; } /* '' */
.ms-Icon--styleRemove:before { content: '\e190'; } /* '' */
.ms-Icon--pictureAdd:before { content: '\e191'; } /* '' */
.ms-Icon--pictureRemove:before { content: '\e192'; } /* '' */
.ms-Icon--desktop:before { content: '\e193'; } /* '' */
.ms-Icon--tablet:before { content: '\e194'; } /* '' */
.ms-Icon--mobile:before { content: '\e195'; } /* '' */
.ms-Icon--table:before { content: '\e196'; } /* '' */
.ms-Icon--hide:before { content: '\e197'; } /* '' */
.ms-Icon--shield:before { content: '\e198'; } /* '' */
.ms-Icon--skype:before { content: '\e199'; } /* '' */
.ms-Icon--header:before { content: '\e19a'; } /* '' */
.ms-Icon--paint:before { content: '\e19b'; } /* '' */
.ms-Icon--support:before { content: '\e19c'; } /* '' */
.ms-Icon--settings:before { content: '\e19d'; } /* '' */
.ms-Icon--creditCard:before { content: '\e19e'; } /* '' */
.ms-Icon--reload:before { content: '\e19f'; } /* '' */
.ms-Icon--peopleSecurity:before { content: '\e200'; } /* '' */
.ms-Icon--visio:before { content: '\e201'; } /* '' */
.ms-Icon--officeVideo:before { content: '\e202'; } /* '' */
.ms-Icon--fieldTextBox:before { content: '\e203'; } /* '' */
.ms-Icon--multiChoice:before { content: '\e204'; } /* '' */
.ms-Icon--fieldMail:before { content: '\e205'; } /* '' */
.ms-Icon--contactForm:before { content: '\e206'; } /* '' */
.ms-Icon--circleHalfFilled:before { content: '\e207'; } /* '' */
.ms-Icon--documentPDF:before { content: '\e208'; } /* '' */
.ms-Icon--bookmark:before { content: '\e209'; } /* '' */
.ms-Icon--parature:before { content: '\e20a'; } /* '' */
.ms-Icon--circleUnfilled:before { content: '\e20b'; } /* '' */
.ms-Icon--circleFilled:before { content: '\e20c'; } /* '' */
.ms-Icon--aad:before { content: '\e20d'; } /* '' */
.ms-Icon--textBox:before { content: '\e20e'; } /* '' */
.ms-Icon--drop:before { content: '\e20f'; } /* '' */
.ms-Icon--sun:before { content: '\e210'; } /* '' */
.ms-Icon--lifesaver:before { content: '\e211'; } /* '' */
.ms-Icon--lifesaverLock:before { content: '\e212'; } /* '' */
.ms-Icon--mailUnread:before { content: '\e213'; } /* '' */
.ms-Icon--mailRead:before { content: '\e214'; } /* '' */
.ms-Icon--inboxCheck:before { content: '\e215'; } /* '' */
.ms-Icon--folderSearch:before { content: '\e216'; } /* '' */
.ms-Icon--collapse:before { content: '\e217'; } /* '' */
.ms-Icon--expand:before { content: '\e218'; } /* '' */
.ms-Icon--ascending:before { content: '\e219'; } /* '' */
.ms-Icon--descending:before { content: '\e21a'; } /* '' */
.ms-Icon--filterClear:before { content: '\e21b'; } /* '' */
.ms-Icon--checkboxEmpty:before { content: '\e21c'; } /* '' */
.ms-Icon--checkboxMixed:before { content: '\e21d'; } /* '' */
.ms-Icon--boards:before { content: '\e21e'; } /* '' */
.ms-Icon--checkboxCheck:before { content: '\e21f'; } /* '' */
.ms-Icon--frowny:before { content: '\e220'; } /* '' */
.ms-Icon--lightBulb:before { content: '\e221'; } /* '' */
.ms-Icon--globe:before { content: '\e222'; } /* '' */
.ms-Icon--deviceWipe:before { content: '\e223'; } /* '' */
.ms-Icon--exchange:before { content: '\e224'; } /* '' */
.ms-Icon--bing:before { content: '\e225'; } /* '' */
.ms-Icon--listCheck:before { content: '\e226'; } /* '' */
.ms-Icon--listGroup:before { content: '\e227'; } /* '' */
.ms-Icon--timeline:before { content: '\e228'; } /* '' */
.ms-Icon--fontIncrease:before { content: '\e229'; } /* '' */
.ms-Icon--fontDecrease:before { content: '\e22a'; } /* '' */
.ms-Icon--fontColor:before { content: '\e22b'; } /* '' */
.ms-Icon--mailCheck:before { content: '\e22c'; } /* '' */
.ms-Icon--mailDown:before { content: '\e22d'; } /* '' */
.ms-Icon--listCheckbox:before { content: '\e22e'; } /* '' */
.ms-Icon--sunAdd:before { content: '\e22f'; } /* '' */
.ms-Icon--sunQuestion:before { content: '\e230'; } /* '' */
.ms-Icon--chevronThinUp:before { content: '\e231'; } /* '' */
.ms-Icon--chevronThinDown:before { content: '\e232'; } /* '' */
.ms-Icon--chevronThinLeft:before { content: '\e233'; } /* '' */
.ms-Icon--chevronThinRight:before { content: '\e234'; } /* '' */
.ms-Icon--chevronThickUp:before { content: '\e235'; } /* '' */
.ms-Icon--chevronThickDown:before { content: '\e236'; } /* '' */
.ms-Icon--chevronThickLeft:before { content: '\e237'; } /* '' */
.ms-Icon--chevronThickRight:before { content: '\e238'; } /* '' */
.ms-Icon--linkRemove:before { content: '\e239'; } /* '' */
.ms-Icon--alchemy:before { content: '\e23a'; } /* '' */
.ms-Icon--alertOutline:before { content: '\e23b'; } /* '' */
.ms-Icon--documentLandscape:before { content: '\e23c'; } /* '' */
.ms-Icon--documentAdd:before { content: '\e23d'; } /* '' */
.ms-Icon--toggleMiddle:before { content: '\e23e'; } /* '' */
.ms-Icon--embed:before { content: '\e23f'; } /* '' */
.ms-Icon--listNumbered:before { content: '\e240'; } /* '' */
.ms-Icon--msn:before { content: '\e241'; } /* '' */
.ms-Icon--peopleCheck:before { content: '\e242'; } /* '' */
.ms-Icon--caretUpOutline:before { content: '\e243'; } /* '' */
.ms-Icon--caretDownOutline:before { content: '\e244'; } /* '' */
.ms-Icon--caretLeftOutline:before { content: '\e245'; } /* '' */
.ms-Icon--caretRightOutline:before { content: '\e246'; } /* '' */
.ms-Icon--sway:before { content: '\e247'; } /* '' */
.ms-Icon--mailSync:before { content: '\e248'; } /* '' */
.ms-Icon--mailError:before { content: '\e249'; } /* '' */
.ms-Icon--mailPause:before { content: '\e24a'; } /* '' */
.ms-Icon--peopleSync:before { content: '\e24b'; } /* '' */
.ms-Icon--peopleError:before { content: '\e24c'; } /* '' */
.ms-Icon--peoplePause:before { content: '\e24d'; } /* '' */
.ms-Icon--circleBall:before { content: '\e24e'; } /* '' */
.ms-Icon--circleBalloons:before { content: '\e24f'; } /* '' */
.ms-Icon--circleCar:before { content: '\e250'; } /* '' */
.ms-Icon--circleCat:before { content: '\e251'; } /* '' */
.ms-Icon--circleCoffee:before { content: '\e252'; } /* '' */
.ms-Icon--circleDog:before { content: '\e253'; } /* '' */
.ms-Icon--circleLightning:before { content: '\e254'; } /* '' */
.ms-Icon--circlePill:before { content: '\e255'; } /* '' */
.ms-Icon--circlePlane:before { content: '\e256'; } /* '' */
.ms-Icon--circlePoodle:before { content: '\e257'; } /* '' */
.ms-Icon--skypeForBusiness:before { content: '\e258'; } /* '' */
.ms-Icon--checkPeople:before { content: '\e259'; } /* '' */
.ms-Icon--documentSearch:before { content: '\e25a'; } /* '' */
.ms-Icon--dynamicsMarketing:before { content: '\e25b'; } /* '' */
.ms-Icon--sortLines:before { content: '\e25c'; } /* '' */
.ms-Icon--calendarPublic:before { content: '\e25d'; } /* '' */
.ms-Icon--contactPublic:before { content: '\e25e'; } /* '' */
.ms-Icon--classNotebook:before { content: '\e25f'; } /* '' */
.ms-Icon--triangleUp:before { content: '\e260'; } /* '' */
.ms-Icon--triangleRight:before { content: '\e261'; } /* '' */
.ms-Icon--triangleDown:before { content: '\e262'; } /* '' */
.ms-Icon--triangleLeft:before { content: '\e263'; } /* '' */
.ms-Icon--triangleEmptyUp:before { content: '\e264'; } /* '' */
.ms-Icon--triangleEmptyRight:before { content: '\e265'; } /* '' */
.ms-Icon--triangleEmptyDown:before { content: '\e266'; } /* '' */
.ms-Icon--triangleEmptyLeft:before { content: '\e267'; } /* '' */
.ms-Icon--filePDF:before { content: '\e268'; } /* '' */
.ms-Icon--fileWord:before { content: '\e269'; } /* '' */
.ms-Icon--filePowerPoint:before { content: '\e26a'; } /* '' */
.ms-Icon--fileExcel:before { content: '\e26b'; } /* '' */
.ms-Icon--fileImage:before { content: '\e26c'; } /* '' */
.ms-Icon--fileDocument:before { content: '\e26d'; } /* '' */
.ms-Icon--listGroup2:before { content: '\e26e'; } /* '' */
.ms-Icon--copy:before { content: '\e26f'; } /* '' */
.ms-Icon--creditCardOutline:before { content: '\e270'; } /* '' */
.ms-Icon--officeAssistant:before { content: '\e271'; } /* '' */
.ms-Icon--mailPublic:before { content: '\e272'; } /* '' */
.ms-Icon--folderPublic:before { content: '\e273'; } /* '' */
.ms-Icon--teamwork:before { content: '\e274'; } /* '' */
.ms-Icon--move:before { content: '\e275'; } /* '' */
.ms-Icon--classroom:before { content: '\e276'; } /* '' */
.ms-Icon--menu2:before { content: '\e277'; } /* '' */
.ms-Icon--plus2:before { content: '\e278'; } /* '' */
.ms-Icon--tag:before { content: '\e279'; } /* '' */
.ms-Icon--arrowUp2:before { content: '\e27a'; } /* '' */
.ms-Icon--arrowDown2:before { content: '\e27b'; } /* '' */
.ms-Icon--circlePlus:before { content: '\e27c'; } /* '' */
.ms-Icon--circleInfo:before { content: '\e27d'; } /* '' */
.ms-Icon--section:before { content: '\e27e'; } /* '' */
.ms-Icon--sections:before { content: '\e27f'; } /* '' */
.ms-Icon--oneNoteEdu:before { content: '\e280'; } /* '' */
.ms-Icon--powerBi2:before { content: '\e281'; } /* '' */
.ms-Icon--at:before { content: '\e282'; } /* '' */
.ms-Icon--arrowUpRight:before { content: '\e283'; } /* '' */
.ms-Icon--arrowDownRight:before { content: '\e284'; } /* '' */
.ms-Icon--arrowDownLeft:before { content: '\e285'; } /* '' */
.ms-Icon--arrowUpLeft:before { content: '\e286'; } /* '' */
.ms-Icon--bundle:before { content: '\e287'; } /* '' */
.ms-Icon--pictureEdit:before { content: '\e288'; } /* '' */
.ms-Icon--protectionCenter:before { content: '\e289'; } /* '' */
.ms-Icon--alert2:before { content: '\e28a'; } /* '' */
.ms-Icon--cocktail:before { content: '\e28b'; } /* '' */
.ms-Icon--cloud:before { content: '\e28c'; } /* '' */
.ms-Icon--dashboard2:before { content: '\e28d'; } /* '' */
.ms-Icon--circleCheck:before { content: '\e28e'; } /* '' */
.ms-Icon--circleExclamation:before { content: '\e28f'; } /* '' */
.ms-Icon--docs:before { content: '\e290'; } /* '' */
.ms-Icon--family:before { content: '\e291'; } /* '' */
.ms-Icon--properties:before { content: '\e292'; } /* '' */
.ms-Icon--volumeHi:before { content: '\e293'; } /* '' */
.ms-Icon--volumeMed:before { content: '\e294'; } /* '' */
.ms-Icon--volumeLo:before { content: '\e295'; } /* '' */
.ms-Icon--volumeOff:before { content: '\e296'; } /* '' */
.ms-Icon--tv:before { content: '\e297'; } /* '' */
.ms-Icon--suitcase:before { content: '\e298'; } /* '' */
.ms-Icon--ticket:before { content: '\e299'; } /* '' */
.ms-Icon--starburst:before { content: '\e29a'; } /* '' */
.ms-Icon--share2:before { content: '\e29b'; } /* '' */
.ms-Icon--cutout:before { content: '\e29c'; } /* '' */
.ms-Icon--live:before { content: '\e29d'; } /* '' */
.ms-Icon--documentLock:before { content: '\e29e'; } /* '' */
.ms-Icon--archive:before { content: '\e29f'; } /* '' */
.ms-Icon--glimmer:before { content: '\e300'; } /* '' */
.ms-Icon--documentLock2:before { content: '\e301'; } /* '' */
.ms-Icon--ticketPlane:before { content: '\e302'; } /* '' */
.ms-Icon--waffle2:before { content: '\e303'; } /* '' */
.ms-Icon--eventAdd:before { content: '\e304'; } /* '' */
.ms-Icon--groups:before { content: '\e305'; } /* '' */
.ms-Icon--folderOpen:before { content: '\e306'; } /* '' */
.ms-Icon--person2:before { content: '\e307'; } /* '' */
.ms-Icon--lock2:before { content: '\e308'; } /* '' */
.ms-Icon--lockOpen2:before { content: '\e309'; } /* '' */
.ms-Icon--barChart:before { content: '\e30a'; } /* '' */
.ms-Icon--circleChart:before { content: '\e30b'; } /* '' */
.ms-Icon--pencilReply:before { content: '\e30c'; } /* '' */
.ms-Icon--boards2:before { content: '\e30d'; } /* '' */
.ms-Icon--people2:before { content: '\e30e'; } /* '' */
.ms-Icon--health:before { content: '\e30f'; } /* '' */
.ms-Icon--skypeCircleCheck:before { content: '\e310'; } /* '' */
.ms-Icon--skypeCircleClock:before { content: '\e311'; } /* '' */
.ms-Icon--skypeCircleMinus:before { content: '\e312'; } /* '' */
.ms-Icon--lightBulb2:before { content: '\e313'; } /* '' */
.ms-Icon--powerApps:before { content: '\e314'; } /* '' */
.ms-Icon--skypeCheck:before { content: '\e315'; } /* '' */
.ms-Icon--skypeClock:before { content: '\e316'; } /* '' */
.ms-Icon--skypeMinus:before { content: '\e317'; } /* '' */
.ms-Icon--delveAnalytics:before { content: '\e318'; } /* '' */
.ms-Icon--planner:before { content: '\e319'; } /* '' */
.ms-Icon--edgeBrowser:before { content: '\e31a'; } /* '' */
.ms-Icon--recycleBin:before { content: '\e31b'; } /* '' */
.ms-Icon--recycleBinEmpty:before { content: '\e31c'; } /* '' */
.ms-Icon--groupingAscending:before { content: '\e31d'; } /* '' */
.ms-Icon--groupingDescending:before { content: '\e31e'; } /* '' */
.ms-Icon--collabDB:before { content: '\e31f'; } /* '' */
.ms-Icon--captions:before { content: '\e320'; } /* '' */
.ms-Icon--undo:before { content: '\e321'; } /* '' */
.ms-Icon--emptyDocument:before { content: '\e323'; } /* '' */
.ms-Icon--emptyDocuments:before { content: '\e324'; } /* '' */
.ms-Icon--emptyDraft:before { content: '\e325'; } /* '' */
.ms-Icon--emptyMail:before { content: '\e326'; } /* '' */
.ms-Icon--emptySearch:before { content: '\e327'; } /* '' */
.ms-Icon--emptyTrash:before { content: '\e328'; } /* '' */
.ms-Icon--emptyTrophy:before { content: '\e329'; } /* '' */
.ms-Icon--bookings:before { content: '\e32a'; } /* '' */
.ms-Icon--package:before { content: '\e32b'; } /* '' */
.ms-Icon--dynamicsSMB:before { content: '\e32c'; } /* '' */
.ms-Icon--createNew:before { content: '\e32d'; } /* '' */
.ms-Icon--emptyBag:before { content: '\e32e'; } /* '' */
.ms-Icon--emptyPlane:before { content: '\e32f'; } /* '' */
.ms-Icon--emptyCoupon:before { content: '\e330'; } /* '' */
.ms-Icon--atp:before { content: '\e331'; } /* '' */
.ms-Icon--emptyNewsletter:before { content: '\e332'; } /* '' */
.ms-Icon--officeForms:before { content: '\e333'; } /* '' */
.ms-Icon--unpin:before { content: '\e334'; } /* '' */
.ms-Icon--replace:before { content: '\e335'; } /* '' */
.ms-Icon--folderAdd:before { content: '\e336'; } /* '' */
.ms-Icon--album:before { content: '\e337'; } /* '' */
.ms-Icon--skypeMessage:before { content: '\e338'; } /* '' */
.ms-Icon--largeGrid:before { content: '\e339'; } /* '' */
.ms-Icon--flow:before { content: '\e33a'; } /* '' */
.ms-Icon--documentSet:before { content: '\e33b'; } /* '' */
.ms-Icon--emptyShared:before { content: '\e33c'; } /* '' */
.ms-Icon--emptyPackage:before { content: '\e33d'; } /* '' */
.ms-Icon--poll:before { content: '\e33e'; } /* '' */
.ms-Icon--zoomIn:before { content: '\e33f'; } /* '' */
.ms-Icon--zoomOut:before { content: '\e340'; } /* '' */
.ms-Icon--workflows:before { content: '\e341'; } /* '' */
.ms-Icon--docsCom:before { content: '\e342'; } /* '' */
.ms-Icon--iosAppStore:before { content: '\e343'; } /* '' */
.ms-Icon--breadcrumb:before { content: '\e344'; } /* '' */
.ms-Icon--android:before { content: '\e345'; } /* '' */
.ms-Icon--windows:before { content: '\e346'; } /* '' */
.ms-Icon--emptyError:before { content: '\e347'; } /* '' */
.ms-Icon--emptyFolder:before { content: '\e348'; } /* '' */
.ms-Icon--emptySearch-1:before { content: '\e349'; } /* '' */
.ms-Icon--emptyAttachment:before { content: '\e34a'; } /* '' */
.ms-Icon--powerApps2:before { content: '\e34b'; } /* '' */
.ms-Icon--compass:before { content: '\e34c'; } /* '' */
.ms-Icon--eventAdd2:before { content: '\e34d'; } /* '' */
.ms-Icon--flow2:before { content: '\e34e'; } /* '' */
.ms-Icon--stream:before { content: '\e34f'; } /* '' */
.ms-Icon--defenderAtp:before { content: '\e350'; } /* '' */
.ms-Icon--trash2:before { content: '\e351'; } /* '' */
.ms-Icon--refresh2:before { content: '\e352'; } /* '' */
.ms-Icon--x2:before { content: '\e353'; } /* '' */
.ms-Icon--attachment2:before { content: '\e354'; } /* '' */
.ms-Icon--bell2:before { content: '\e355'; } /* '' */
.ms-Icon--tag2:before { content: '\e356'; } /* '' */
.ms-Icon--mapMarker2:before { content: '\e357'; } /* '' */
.ms-Icon--picture2:before { content: '\e358'; } /* '' */
.ms-Icon--pinLeft2:before { content: '\e359'; } /* '' */
.ms-Icon--pinDownLeft2:before { content: '\e35a'; } /* '' */
.ms-Icon--note2:before { content: '\e35b'; } /* '' */
.ms-Icon--gear2:before { content: '\e35c'; } /* '' */
.ms-Icon--search2:before { content: '\e35d'; } /* '' */
.ms-Icon--check2:before { content: '\e35e'; } /* '' */
.ms-Icon--circleCheck2:before { content: '\e35f'; } /* '' */
.ms-Icon--undo2:before { content: '\e360'; } /* '' */
.ms-Icon--flowLight:before { content: '\e361'; } /* '' */
.ms-Icon--skypeTeams:before { content: '\e362'; } /* '' */
.ms-Icon--clipboard:before { content: '\e363'; } /* '' */
.ms-Icon--timer:before { content: '\e364'; } /* '' */
.ms-Icon--badge:before { content: '\e365'; } /* '' */
.ms-Icon--document2:before { content: '\e366'; } /* '' */
.ms-Icon--unread:before { content: '\e367'; } /* '' */
.ms-Icon--docConversation:before { content: '\e368'; } /* '' */
.ms-Icon--direct:before { content: '\e369'; } /* '' */
.ms-Icon--mention:before { content: '\e36a'; } /* '' */
.ms-Icon--flag2:before { content: '\e36b'; } /* '' */
.ms-Icon--magnifyingGlass:before { content: '\e36c'; } /* '' */
.ms-Icon--summarize:before { content: '\e36d'; } /* '' */
.ms-Icon--cityNext:before { content: '\e36e'; } /* '' */
.ms-Icon--lock3:before { content: '\e36f'; } /* '' */
.ms-Icon--malware:before { content: '\e370'; } /* '' */
.ms-Icon--starPlus:before { content: '\e371'; } /* '' */
.ms-Icon--bufferTimeBefore:before { content: '\e372'; } /* '' */
.ms-Icon--bufferTimeAfter:before { content: '\e373'; } /* '' */
.ms-Icon--bufferTimeBoth:before { content: '\e374'; } /* '' */
.ms-Icon--dynamics365:before { content: '\e375'; } /* '' */
.ms-Icon--plannerHub:before { content: '\e376'; } /* '' */
.ms-Icon--plannerCharts:before { content: '\e377'; } /* '' */
.ms-Icon--plannerBoards:before { content: '\e378'; } /* '' */
.ms-Icon--teams:before { content: '\e379'; } /* '' */
.ms-Icon--shoppingBag:before { content: '\e37a'; } /* '' */
.ms-Icon--businessCenter:before { content: '\e37b'; } /* '' */
.ms-Icon--favoriteList:before { content: '\e37c'; } /* '' */
.ms-Icon--miniExpand:before { content: '\e37d'; } /* '' */
.ms-Icon--nonprofit:before { content: '\e37e'; } /* '' */
.ms-Icon--mailOpen2:before { content: '\e37f'; } /* '' */
.ms-Icon--reminderGroup:before { content: '\e380'; } /* '' */
.ms-Icon--circleCheck3:before { content: '\e381'; } /* '' */
.ms-Icon--desktop2:before { content: '\e382'; } /* '' */
.ms-Icon--tablet2:before { content: '\e383'; } /* '' */
.ms-Icon--mobile2:before { content: '\e384'; } /* '' */
.ms-Icon--officeLens:before { content: '\e385'; } /* '' */
.ms-Icon--outlook2:before { content: '\e386'; } /* '' */
.ms-Icon--word2:before { content: '\e387'; } /* '' */
.ms-Icon--powerpoint2:before { content: '\e388'; } /* '' */
.ms-Icon--excel2:before { content: '\e389'; } /* '' */
.ms-Icon--onenote2:before { content: '\e38a'; } /* '' */
.ms-Icon--access2:before { content: '\e38b'; } /* '' */
.ms-Icon--publisher2:before { content: '\e38c'; } /* '' */
.ms-Icon--smiley2:before { content: '\e38d'; } /* '' */
.ms-Icon--calendar2:before { content: '\e38e'; } /* '' */
.ms-Icon--office2007:before { content: '\e38f'; } /* '' */
.ms-Icon--office2010:before { content: '\e390'; } /* '' */
.ms-Icon--packages:before { content: '\e391'; } /* '' */
.ms-Icon--gears:before { content: '\e392'; } /* '' */
.ms-Icon--addressBook:before { content: '\e393'; } /* '' */
.ms-Icon--folderClosed:before { content: '\e394'; } /* '' */
.ms-Icon--circleChevronLeft:before { content: '\e395'; } /* '' */
.ms-Icon--circleChevronRight:before { content: '\e396'; } /* '' */
.ms-Icon--circleChevronLeftFilled:before { content: '\e397'; } /* '' */
.ms-Icon--circleChevronRightFilled:before { content: '\e398'; } /* '' */
.ms-Icon--mail2:before { content: '\e399'; } /* '' */
.ms-Icon--alert3:before { content: '\e39a'; } /* '' */
.ms-Icon--openInNewWindow:before { content: '\e39b'; } /* '' */
.ms-Icon--rewards:before { content: '\e39c'; } /* '' */
.ms-Icon--powerBi3:before { content: '\e39d'; } /* '' */
.ms-Icon--phone2:before { content: '\e39e'; } /* '' */
.ms-Icon--scheduling2:before { content: '\e39f'; } /* '' */
.ms-Icon--calendarPeople:before { content: '\e400'; } /* '' */
.ms-Icon--outlookPremium:before { content: '\e401'; } /* '' */
.ms-Icon--barChartVertical:before { content: '\e402'; } /* '' */
.ms-Icon--circlePlus2:before { content: '\e403'; } /* '' */
.ms-Icon--emptyDocumentSearch:before { content: '\e404'; } /* '' */
.ms-Icon--emptyImageSearch:before { content: '\e405'; } /* '' */
.ms-Icon--emptyImage:before { content: '\e406'; } /* '' */
.ms-Icon--kaizala:before { content: '\e407'; } /* '' */
.ms-Icon--share3:before { content: '\e408'; } /* '' */
.ms-Icon--myAnalytics:before { content: '\e409'; } /* '' */
.ms-Icon--myAnalytics2:before { content: '\e40a'; } /* '' */
.ms-Icon--findTime:before { content: '\e40b'; } /* '' */
.ms-Icon--circleX:before { content: '\e40c'; } /* '' */
.ms-Icon--fiveTileGrid:before { content: '\e40d'; } /* '' */
.ms-Icon--vennDiagram:before { content: '\e40e'; } /* '' */
.ms-Icon--highlight:before { content: '\e40f'; } /* '' */
.ms-Icon--comment:before { content: '\e410'; } /* '' */
.ms-Icon--cloud2:before { content: '\e411'; } /* '' */
.ms-Icon--protectRestrict:before { content: '\e412'; } /* '' */
.ms-Icon--checkbox2:before { content: '\e413'; } /* '' */
.ms-Icon--checkboxIndeterminate:before { content: '\e414'; } /* '' */
.ms-Icon--checkboxComposite:before { content: '\e415'; } /* '' */
.ms-Icon--tileView:before { content: '\e416'; } /* '' */
.ms-Icon--contactInfo:before { content: '\e417'; } /* '' */
.ms-Icon--toDoLogo:before { content: '\e418'; } /* '' */
.ms-Icon--businessCenter2:before { content: '\e419'; } /* '' */
.ms-Icon--shoppingList:before { content: '\e41a'; } /* '' */
.ms-Icon--cutOut2:before { content: '\e41b'; } /* '' */
.ms-Icon--news:before { content: '\e41c'; } /* '' */
.ms-Icon--plane2:before { content: '\e41d'; } /* '' */
.ms-Icon--link2:before { content: '\e41e'; } /* '' */
.ms-Icon--toggleOn:before { content: '\e41f'; } /* '' */
.ms-Icon--toggleOff:before { content: '\e420'; } /* '' */
.ms-Icon--staffHub:before { content: '\e421'; } /* '' */
.ms-Icon--linkShield:before { content: '\e422'; } /* '' */
.ms-Icon--MicrosoftIntune:before { content: '\e423'; } /* '' */
.ms-Icon--whiteboard:before { content: '\e424'; } /* '' */